body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

/**
 * Getter
 */

.getter {
    background-color: lightgrey;
    padding: 10px;
    line-height: 30px;
}

.getter table {
    border: 0px solid black;
    width: 100%;
}

.getter table td {
    vertical-align: top;
}

/**
 * Childgetter
 */

.childgetter {
    background-color: darkgray;
    padding: 5px;
}

/**
 * Sidebar
 */

.sidebar {
    background-color: lightblue;
    padding: 5px;
}

.sidebar ul {
    line-height: 20px;
}

/**
 * PersonInfo
 */
.personInfo {
    padding: 5px;
    background-color: darksalmon
}

.personInfo table {
    border: 1px solid black;
}

.personInfo table th {
    border: 1px solid black;
}

.personInfo table td {
    border: 1px solid black;
    padding: 5px;
}

/**
 * Identity
 */

.identity {
    background-color: lightgoldenrodyellow;
}

/**
 * Progress Bar
 */

.progressBarStep1 div{
    background-color: red;
}

.progressBarStep2 div{
    background-color: yellow;
}

.progressBarStep3 div{
    background-color: green;
}
